@import './fonst.css';
@import './swiper.css';
@import './variable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-text-base);
    font-size: var(--size-text-base);
  }
  img {
    @apply w-full h-full block object-cover object-center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium leading-none;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
